      <li class="nav-item">
        <%= link_to '#', class: 'nav-link' do %>
          <%= fa_icon('shopping-basket', text: t(:shelters).titleize) %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#', class: 'nav-link' do %>
          <%= fa_icon('home', text: t(:pods).titleize) %>
        <% end %>
      </li>
