<div class="card card-body bg-light">
  <h2>
    <%= t(:event_team) %>
    <% if event.admin?(Current.user) %>
    <%= link_to t(:manage), event_managers_path(event), class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </h2>
  <% if event.managers.empty? %>
  <%= t(:no_management_team) %>
  <% else %>
  <ul>
    <% event.managers.each do |user| %>
    <li><%= user.link_to_text %></li>
    <% end %>
  </ul>
  <% end %>
</div>
