<% page ||= @site_page %>
<% content_for :site_title, "#{@site_title} - #{page.title}" %>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
<h1 class="page-title">
  <%= page.title %>
  <% if user_signed_in? %>
    <%= link_to edit_page_path(page), class: 'btn btn-sm btn-outline-primary pull-right' do %>
      <%= fa_icon(:edit, text: t(:edit, type: t(:page))) %>
    <% end %>
  <% end %>
  <hr/>
</h1>

<article class="page-content">
  <%= sanitize(markdown.render(page.content), tags: ALLOWED_HTML_TAGS, attributes: ALLOWED_HTML_ATTRIBUTES).html_safe %>
</article>
