<%= render 'pages/page' %>

<%= link_to 'Add New Page', new_page_path, class: 'button button-outline' %>

<% @pages.each do |page| %>
  <hr/>
  <h4><%= link_to page.link_to_text, page %></h4>
<% end %>
