h1.page-title {
  text-align: center;
  margin-top: 10px;
}

.content-preview {
  border: 1px dashed #333333;

  &:empty {
    display: none;
  }
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

[data-toggle="collapse"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(-90deg) ;
  transition: all linear 0.25s;

  &:active, &:hover, &:visited {
    text-decoration: none;
  }
}
[data-toggle="collapse"].collapsed:after {
  transform: rotate(90deg) ;
}

.draft-list + .draft-header {
  border-top: 2px solid #333;
}

.metainfo {
  line-height: 0.5;
  font-size: 8pt;

  label {
    font-style: italic;
  }
}

td.event-resource-row-content {
  width: 100%;
}

label.colon:after {
  content: ': ';
  margin-right: 2pt;
  font-weight: bold !important;
}

.marked-down-tight p {
  margin: 0 !important;
}

input[type="number"].position-number-field {
  width: 2.5em;
}

input[type="checkbox"].form-control {
  /*
    this is important because browsers now expand checkbox square size dynamically
    when width is set to 100% as it is in bootstrap
  */
  width: auto !important;
}

div.clickmask-container {
  position: relative;

  div.clickmask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.resource-center-marker {
  background-image: asset-data-url('mapbox-icon.png');
  background-size: cover;
  width: 35px;
  height:35px;
  border-radius: 50%;
  cursor: pointer;
}
