<div class="card bg-light">
  <% if include_header ||= false %>
  <div class="card-header">
    <%= t(draft.draftable.nil? ? :new : :edit, type: t(draft.draftable_type.downcase.to_sym)) %>
  </div>
  <% end %>
  <div class="card-body">
    <%= render draft.draftable.nil? ? 'drafts/new_draft' : 'drafts/edit_draft', draft: draft %>
  </div>
</div>
